body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
#forms-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  button {
    cursor: pointer;
  }
}
#new-config-variables,
#curr-config-variables {
  height: 100%;
  width: 45%;
  padding: 0 2.5%;
  h2 {
    display: flex;
    justify-content: center;
  }
  input {
    padding: 0 2%;
  }
}
#curr-config-variables{
    border-right: 1px solid darkgray;
    p{
        font-size: 13px;
        color: rgb(83, 83, 83);
        font-style: italic;
    }
}
.input-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  label {
    margin-bottom: 8px;
    align-self: start;
  }
  input {
    margin: 0;
    height: 32px;
    width: 100%;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  div {
    display: flex;
    width: 100%;
  }
}
.password-input-row {
  .input-wrapper {
    position: relative;
    button {
      cursor: pointer;
      top: 0;
      right: 1%;
      height: 100%;
      background-color: transparent;
      border: none;
      outline: none;
      position: absolute;
    }
  }
  p {
    font-size: 12px;
    color: rgb(94, 94, 94);
  }
}
.submit-btn {
  height: 32px;
  width: 100%;
}
#show-current-password {
  background-color: transparent;
  font-size: 10px;
  border: none;
  margin: 0;
  padding: 0;
  color: rgb(0, 110, 255);
  position: relative;
  &::after {
    position: absolute;
    content: "";
    bottom: 7px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 110, 255);
  }
}
